@model MvcMovie.Models.Movie

@{
    ViewBag.Title = "Create";
}

<div class="modal-content">

    <h1 class="modal-header">Create Movie</h1>
    @using (Html.BeginForm("Create", "Movie", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset class="modal-body">
            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ReleaseDate)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ReleaseDate, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.ReleaseDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Genre)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Genre, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Genre)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Price)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Price)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Rating)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Rating, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Rating)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ImageLink)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ImageLink, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ImageLink)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.BannerLink)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.BannerLink, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BannerLink)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <p class=" modal-footer">
                <button class="btn btn-default" type="submit">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </p>
        </fieldset>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}