@model IEnumerable<MvcMovie.Models.Movie>

@{
    var MovieArr = Model.ToArray();
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for (int i = 0; i < MovieArr.Length; i++)
        {
            if (MovieArr[i].Rating > 8)
            {
                <li data-target="#myCarousel" data-slide-to="@i" class="@(i==0?"active":"")"></li>
            }
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @for (int i = 0; i < MovieArr.Length; i++)
        {
            if (MovieArr[i].Rating > 8)
            {
                <div class="item @(i==0?"active":"")">
                    <img class="center-block" src="@MovieArr[i].BannerLink" alt="movie1"
                    onclick="location.href='@Url.Action("Details", "MovieClient", new { id = MovieArr[i].Id })'">
                </div>
            }

        }
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>