@model IEnumerable<MvcMovie.Models.NormalUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>User List</h2>
<div class="container-fluid">
    <div class="row">
        @using (Html.BeginForm("SearchIndex", "Movie", FormMethod.Get))
        {
            <div class="col-sm-4 smallpadding">
                @Html.TextBox("searchString", null, new { @class = "form-control", @placeholder = "User Name" })
            </div>
            <div class="col-sm-4 smallpadding">
                <button type="submit" value="Search" class="btn btn-default ">
                    Search
                </button>
            </div>
        }
        <div class="col-sm-2">
            <button class="btn btn-default btn-block modal-link" type="button"
                    data-toggle="modal" data-target="#createModal" @*onclick="location.href='@Url.Action("Create", "Movie")'"*@>
                Create New
            </button>
        </div>
    </div>
</div>
<div ng-app="myApp" ng-controller="myCtrl">

    <table class="table table-hover table-bordered index-table z-depth-2">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegDate)
                </th>
                <th>
                    Operation
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            { 
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegDate)
                    </td>
                    <td class="container-fluid">
                        <button class="btn btn-primary  col-md-3 smallmargin"
                                type="button"
                                onclick="location.href='@Url.Action("Edit", "AdminUser", new { userName = item.UserName })'">
                            Edit
                        </button>
                        <button class="btn btn-info  col-md-3 smallmargin"
                                type="button"
                                onclick="location.href='@Url.Action("Details", "Movie", new { userName = item.UserName })'">
                            Details
                        </button>
                        <button class="btn btn-danger  col-md-3 smallmargin modal-link"
                                type="button"
                                data-toggle="modal" data-target="#deleteModal"
                                ng-click="getMovie(@item.UserName)">
                            @*onclick="location.href='@Url.Action("Delete", "Movie", new { id = item.Id })'">*@
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="createModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                @Html.Partial("_Create", new MvcMovie.Models.NormalUser())
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-content modal-center">
                    <h3 class="modal-header">Are you sure you want to delete this?</h3>
                    <p class="modal-body">
                        <button class="btn btn-danger" type="submit" ng-click="deleteUser()">Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
